{% extends 'base.html' %}

{% block title %}Fill out the form{% endblock %}

{% block nav_actions %}
  <header class="header--form-page">
    <nav class="container container--70">
      <ul class="nav--actions">
        <li class="logged-user">
          Witaj Agata
          <ul class="dropdown">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
{% endblock %}


{% block content %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Donate things you no longer want<br />
            <span class="uppercase">to those in need</span>
          </h1>

          <div class="slogan--steps">
            <div class="slogan--steps-title">Just 4 simple steps:</div>
            <ul class="slogan--steps-boxes">
              <li>
                <div><em>1</em><span>Choose items</span></div>
              </li>
              <li>
                <div><em>2</em><span>Place them in bags</span></div>
              </li>
              <li>
                <div><em>3</em><span>Select a charity foundation</span></div>
              </li>
              <li>
                <div><em>4</em><span>Order a courier</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="form--steps">
      <div class="form--steps-instructions" id="form">
        <div class="form--steps-container">
          <h3>Ważne!</h3>
          <p data-step="1" class="active">
            Provide details about your items. This way, we'll know who needs them the most.
          </p>
          <p data-step="2">
            Fill in details about your items. This way, we'll know who needs them the most.
          </p>
          <p data-step="3">
            Choose one to which your shipment will go.
          </p>
          <p data-step="4">Provide the address and pickup date for the courier.</p>
        </div>
      </div>

      <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/5</div>

        <form action="form-confirmation.html" method="post">
          <!-- STEP 1: class .active is switching steps -->
          <div data-step="1" class="active">
            <h3>Select what you want to donate:</h3>

            <div class="form-group form-group--checkbox">
              <label>
                <input
                  type="checkbox"
                  name="categories"
                  value="clothes-to-use"
                />
                <span class="checkbox"></span>
                <span class="description"
                  >Clothes in a good condition</span
                >
              </label>
            </div>

            <div class="form-group form-group--checkbox">
              <label>
                <input
                  type="checkbox"
                  name="categories"
                  value="clothes-useless"
                />
                <span class="checkbox"></span>
                <span class="description">Clothes to be discarded</span>
              </label>
            </div>

            <div class="form-group form-group--checkbox">
              <label>
                <input type="checkbox" name="categories" value="toys" />
                <span class="checkbox"></span>
                <span class="description">toys</span>
              </label>
            </div>

            <div class="form-group form-group--checkbox">
              <label>
                <input type="checkbox" name="categories" value="books" />
                <span class="checkbox"></span>
                <span class="description">books</span>
              </label>
            </div>

            <div class="form-group form-group--checkbox">
              <label>
                <input type="checkbox" name="categories" value="other" />
                <span class="checkbox"></span>
                <span class="description">Other</span>
              </label>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn next-step">Next</button>
            </div>
          </div>

          <!-- STEP 2 -->
          <div data-step="2">
            <h3>Specify the number of 60-liter bags in which you packed your items:</h3>

            <div class="form-group form-group--inline">
              <label>
                Number of 60-liter bags
                <input type="number" name="bags" step="1" min="1" />
              </label>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Back</button>
              <button type="button" class="btn next-step">Next</button>
            </div>
          </div>



          <!-- STEP 4 -->
          <div data-step="3">
            <h3>Choose the organization you want to help:</h3>

            <div class="form-group form-group--checkbox">
              <label>
                <input type="radio" name="organization" value="old" />
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">Foundation “No home”</div>
                  <div class="subtitle">
                    Goal and mission: Aid for people without a place to live
                  </div>
                </span>
              </label>
            </div>

            <div class="form-group form-group--checkbox">
              <label>
                <input type="radio" name="organization" value="old" />
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">Foundation "For Children"</div>
                  <div class="subtitle">
                    Goal and mission: Aid for individuals in difficult life situations.
                  </div>
                </span>
              </label>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="button" class="btn next-step">Dalej</button>
            </div>
          </div>

          <!-- STEP 5 -->
          <div data-step="4">
            <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

            <div class="form-section form-section--columns">
              <div class="form-section--column">
                <h4>Adres odbioru</h4>
                <div class="form-group form-group--inline">
                  <label> Ulica <input type="text" name="address" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label> Miasto <input type="text" name="city" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Kod pocztowy <input type="text" name="postcode" />
                  </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Numer telefonu <input type="phone" name="phone" />
                  </label>
                </div>
              </div>

              <div class="form-section--column">
                <h4>Termin odbioru</h4>
                <div class="form-group form-group--inline">
                  <label> Data <input type="date" name="data" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label> Godzina <input type="time" name="time" /> </label>
                </div>

                <div class="form-group form-group--inline">
                  <label>
                    Uwagi dla kuriera
                    <textarea name="more_info" rows="5"></textarea>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="button" class="btn next-step">Dalej</button>
            </div>
          </div>

          <!-- STEP 6 -->
          <div data-step="5">
            <h3>Podsumowanie Twojej darowizny</h3>

            <div class="summary">
              <div class="form-section">
                <h4>Oddajesz:</h4>
                <ul>
                  <li>
                    <span class="icon icon-bag"></span>
                    <span class="summary--text"
                      >4 worki ubrań w dobrym stanie dla dzieci</span
                    >
                  </li>

                  <li>
                    <span class="icon icon-hand"></span>
                    <span class="summary--text"
                      >Dla fundacji "Mam marzenie" w Warszawie</span
                    >
                  </li>
                </ul>
              </div>

              <div class="form-section form-section--columns">
                <div class="form-section--column">
                  <h4>Adres odbioru:</h4>
                  <ul>
                    <li>Prosta 51</li>
                    <li>Warszawa</li>
                    <li>99-098</li>
                    <li>123 456 789</li>
                  </ul>
                </div>

                <div class="form-section--column">
                  <h4>Termin odbioru:</h4>
                  <ul>
                    <li>13/12/2018</li>
                    <li>15:40</li>
                    <li>Brak uwag</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="submit" class="btn">Potwierdzam</button>
            </div>
          </div>
        </form>
      </div>
    </section>
{% endblock %}
