{% extends 'base.html' %}

{% block title %}Donate Goods{% endblock %}

{% block nav_actions %}
    <header class="header--form-page">
        <nav class="container container--70">
            <ul class="nav--actions">
                <li class="logged-user">
                Welcome, Agata
                <ul class="dropdown">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">My Charity Collections</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
                </li>
            </ul>
{% endblock %}


{% block content %}
        <div class="slogan container container--90">
            <h2>
                Thank you for submitting the form. We will send all the
            information about the pickup to your email.
            </h2>
        </div>
    </header>
    
{% endblock %}