{% extends 'base.html' %}

{% block content %}

        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    Start helping!<br />
                    Entrust unwanted things to trusted hands
                </h1>
            </div>
        </div>
    </header>

    <section id="stats" class="stats">
        <div class="container container--85">
            <div class="stats--item">
                <em>{{ total_bags }}</em>
                <h3>Bags Donated</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
            </div>

            <div class="stats--item">
                <em>{{ supported_organizations }}</em>
                <h3>Supported Organizations</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
            </div>
        </div>
    </section>

    <section id="steps" class="steps">
        <h2>Just 4 Simple Steps</h2>

        <div class="steps--container">
            <div class="steps--item">
                <span class="icon icon--hands"></span>
                <h3>Choose Items</h3>
                <p>clothes, toys, equipment, and more</p>
            </div>
            <div class="steps--item">
                <span class="icon icon--arrow"></span>
                <h3>Pack Them</h3>
                <p>use garbage bags</p>
            </div>
            <div class="steps--item">
                <span class="icon icon--glasses"></span>
                <h3>Decide Whom to Help</h3>
                <p>choose a trusted place</p>
            </div>
            <div class="steps--item">
                <span class="icon icon--courier"></span>
                <h3>Order a Courier</h3>
                <p>courier will come at a convenient time</p>
            </div>
        </div>

        <a href="{% url 'register' %}" class="btn btn--large">Create an Account</a>
    </section>

    <section id="about-us" class="about-us">
        <div class="about-us--text">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
            {% load static %}
            <img src="{% static 'images/signature.svg' %}" class="about-us--text-signature" alt="Signature" />
        </div>
        {% load static %}
        <div class="about-us--image"><img src="{% static 'images/about-us.jpg' %}" alt="People in circle" /></div>
    </section>

    <section id="help" class="help">
        <h2>Whom Do We Help?</h2>

        <ul class="help--buttons">
            <li data-id="1"><a href="#" class="btn btn--without-border active">Foundations</a></li>
            <li data-id="2"><a href="#" class="btn btn--without-border">Non-governmental Organizations</a></li>
            <li data-id="3"><a href="#" class="btn btn--without-border">Local Collections</a></li>
        </ul>

        <!-- SLIDE 1 -->
        <div class="help--slides active" data-id="1">
            <p>In our database, you will find a list of verified Foundations we cooperate with. You can check what they do, whom they help, and what they need.</p>

            <ul class="help--slides-items">
                {% for fundation in fundations %}
                <li>
                        <div class="col">
                            <div class="title">{{ fundation.name }}</div>
                            <div class="subtitle">Goal and mission: {{ fundation.description }}</div>
                        </div>

                        <div class="col">
                            <div class="text">
                                {% for category in fundation.categories.all %}
                                    {{ category.name }}
                                {% endfor %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- SLIDE 2 -->
        <div class="help--slides" data-id="2">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic officiis mollitia dolor, neque aspernatur accusamus debitis. Ducimus, officia. Quia, sunt illum! Non iste placeat ab ipsum alias
                quos suscipit corporis!
            </p>
            <ul class="help--slides-items">
                {% for nonprofit in nonprofits %}
                <li>
                        <div class="col">
                            <div class="title">{{ nonprofit.name}}</div>
                            <div class="subtitle">Goal and mission:{{ nonprofit.description}}</div>
                        </div>

                        <div class="col">
                            <div class="text">
                                {% for category in nonprofit.categories.all %}
                                    {{ category.name }}
                                {% endfor %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- SLIDE 3 -->
        <div class="help--slides" data-id="3">
            <p>Lorem ipsum dolor sit amet, his ocurreret persequeris ea, ad utinam laudem duo. Verterem adipisci partiendo eos ne, ea his reque quaeque recteque, ne quo lobortis intellegam.</p>
            <ul class="help--slides-items">
                {% for local_collection in local_collections %}
                <li>
                        <div class="col">
                            <div class="title">{{ local_collection.name }}</div>
                            <div class="subtitle">Goal and mission:{{ local_collection.description }}</div>
                        </div>

                        <div class="col">
                            <div class="text">
                                {% for category in local_collection.categories.all %}
                                    {{ category.name }}
                                {% endfor %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
